#player{
    background-color: blue;
    position: absolute;
}
#game {
  width: 1080px;
  height: 720px;
  margin: auto;
  background: skyblue;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#ground {
    color: green;
    width: 1080px;
    height: 100px;
    left: 0;
    position: absolute;
    background-color: green; 
}

html, body {
  height: 100%;           
  margin: 0;               
  display: flex;           
  justify-content: center;
  align-items: center;    
  background: black;      
}
.Block {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.block {
  position: absolute;
}
.enemy{
  position: absolute;
  font-size: 100%;
}
#gun {
  width: 200px;
  height: 100px;
  position: absolute;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Type_56_mod02_noBG.png/960px-Type_56_mod02_noBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(1);
}
#star {
  position: absolute;
  width: 100px;  
  aspect-ratio: 1;
  background: #F8CA00;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
   opacity: 0;
}
#counter{
  font-size:30px;
  font-family: sans-serif;
}
#health{
  text-align: center;
  font-size: 50px;
}
.tutorial {
  padding: 20px;
  background-color: black;
  opacity: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  padding: 20px;
  text-align: center;
}
#level_counter{
  position: absolute;
  right: 0;
  top: 0;
  font-size:30px;
  font-family: sans-serif;
}
#coin_counter{
  position: absolute;
  bottom:0;
  font-size:30px;
  font-family: sans-serif;
}
#food{
  position:absolute;
  right: 0;
  bottom:0;
  font-size:30px;
  font-family: sans-serif;
}
